<ActionBar title="RFS MIDI" class="action-bar" flat="true"> </ActionBar>
<StackLayout class="m-b-20 m-t-20">
  <Label text="MIDI Pitch App" class="h1 text-center c-white m-y-20"></Label>
  <Image
    src="~/assets/images/background.png"
    class="h-center m-t-30 m-b-30"
    width="220"
  ></Image>

  <FlexboxLayout class="m-t-30 m-l-10" flexWrap="wrap" backgroundColor="#333">
    <Button
      text="Login"
      width="30%"
      class="btn-rounded-sm p-t-10 m-x-5 p-b-10 text-white"
      (tap)="onLogin()"
    ></Button>
    <Button
      text="Register"
      width="30%"
      class="btn-rounded-sm text-white"
      (tap)="onRegister()"
    ></Button>

    <Button
      text="About"
      width="30%"
      class="btn-rounded-sm text-white"
      (tap)="goToDetails()"
    ></Button>
  </FlexboxLayout>

  <WrapLayout class="m-t-30 m-b-30 h-center m-l-30 p-l-20"> </WrapLayout>

  <Label
    text="∆ngular/NativeScript POC by RFS"
    class="mt-20 h2 tagline text-center c-white"
  >
  </Label>
</StackLayout>
